@page "/shopifyorders"
@using CascadeWebApp.Services
@using CascadeWebApp.Models
@inject ShopifyOrderService ShopifyOrderService

<div class="pa-4" style="background: #222; color: #fff;">
    <h5 class="table-page-title">Shopify Orders</h5>
    <div class="search-container">
        <input class="search-input" placeholder="Search orders…" @bind="_search" />
        <button class="search-toggle-icon" title="Toggle search">
            <i class="material-icons">search</i>
        </button>
    </div>
    <div class="table-container">
        <div class="table-scroll">
            <table class="app-table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>createdAt</th>
                    <th>updatedAt</th>
                    <th>email</th>
                    <th>financialStatus</th>
                    <th>fulfillmentStatus</th>
                    <th>currencyCode</th>
                    <th>totalPrice</th>
                    <th>subtotalPrice</th>
                    <th>totalTax</th>
                    <th>totalShippingPrice</th>
                    <th>confirmed</th>
                    <th>closedAt</th>
                    <th>cancelledAt</th>
                    <th>cancelReason</th>
                    <th>tags</th>
                    <th>orderNumber</th>
                    <th>note</th>
                    <th>customer_id</th>
                    <th>customer_email</th>
                    <th>customer_firstName</th>
                    <th>customer_lastName</th>
                    <th>customer_phone</th>
                    <th>customer_createdAt</th>
                    <th>customer_ordersCount</th>
                    <th>customer_state</th>
                    <th>shippingAddress_address1</th>
                    <th>shippingAddress_address2</th>
                    <th>shippingAddress_city</th>
                    <th>shippingAddress_company</th>
                    <th>shippingAddress_country</th>
                    <th>shippingAddress_countryCode</th>
                    <th>shippingAddress_firstName</th>
                    <th>shippingAddress_lastName</th>
                    <th>shippingAddress_phone</th>
                    <th>shippingAddress_province</th>
                    <th>shippingAddress_provinceCode</th>
                    <th>shippingAddress_zip</th>
                    <th>billingAddress_address1</th>
                    <th>billingAddress_address2</th>
                    <th>billingAddress_city</th>
                    <th>billingAddress_company</th>
                    <th>billingAddress_country</th>
                    <th>billingAddress_countryCode</th>
                    <th>billingAddress_firstName</th>
                    <th>billingAddress_lastName</th>
                    <th>billingAddress_phone</th>
                    <th>billingAddress_province</th>
                    <th>billingAddress_provinceCode</th>
                    <th>billingAddress_zip</th>
                    <th>lineItem_id</th>
                    <th>lineItem_title</th>
                    <th>lineItem_sku</th>
                    <th>lineItem_variantId</th>
                    <th>lineItem_quantity</th>
                    <th>lineItem_price</th>
                    <th>lineItem_fulfillmentStatus</th>
                    <th>lineItem_vendor</th>
                    <th>discount_code</th>
                    <th>discount_type</th>
                    <th>discount_value</th>
                    <th>shippingLine_code</th>
                    <th>shippingLine_price</th>
                    <th>shippingLine_title</th>
                    <th>transaction_id</th>
                    <th>transaction_amount</th>
                    <th>transaction_kind</th>
                    <th>transaction_status</th>
                </tr>
            </thead>
            <tbody>
                @if (shopifyOrders != null)
                {
                    @foreach (var order in shopifyOrders)
                    {
                        <tr>
                            <td>@order.Id</td>
                            <td>@order.Name</td>
                            <td>@order.CreatedAt</td>
                            <td>@order.UpdatedAt</td>
                            <td>@order.Email</td>
                            <td>@order.FinancialStatus</td>
                            <td>@order.FulfillmentStatus</td>
                            <td>@order.CurrencyCode</td>
                            <td>@order.TotalPrice</td>
                            <td>@order.SubtotalPrice</td>
                            <td>@order.TotalTax</td>
                            <td>@order.TotalShippingPrice</td>
                            <td>@order.Confirmed</td>
                            <td>@order.ClosedAt</td>
                            <td>@order.CancelledAt</td>
                            <td>@order.CancelReason</td>
                            <td>@order.Tags</td>
                            <td>@order.OrderNumber</td>
                            <td>@order.Note</td>
                            <td>@order.Customer_Id</td>
                            <td>@order.Customer_Email</td>
                            <td>@order.Customer_FirstName</td>
                            <td>@order.Customer_LastName</td>
                            <td>@order.Customer_Phone</td>
                            <td>@order.Customer_CreatedAt</td>
                            <td>@order.Customer_OrdersCount</td>
                            <td>@order.Customer_State</td>
                            <td>@order.ShippingAddress_Address1</td>
                            <td>@order.ShippingAddress_Address2</td>
                            <td>@order.ShippingAddress_City</td>
                            <td>@order.ShippingAddress_Company</td>
                            <td>@order.ShippingAddress_Country</td>
                            <td>@order.ShippingAddress_CountryCode</td>
                            <td>@order.ShippingAddress_FirstName</td>
                            <td>@order.ShippingAddress_LastName</td>
                            <td>@order.ShippingAddress_Phone</td>
                            <td>@order.ShippingAddress_Province</td>
                            <td>@order.ShippingAddress_ProvinceCode</td>
                            <td>@order.ShippingAddress_Zip</td>
                            <td>@order.BillingAddress_Address1</td>
                            <td>@order.BillingAddress_Address2</td>
                            <td>@order.BillingAddress_City</td>
                            <td>@order.BillingAddress_Company</td>
                            <td>@order.BillingAddress_Country</td>
                            <td>@order.BillingAddress_CountryCode</td>
                            <td>@order.BillingAddress_FirstName</td>
                            <td>@order.BillingAddress_LastName</td>
                            <td>@order.BillingAddress_Phone</td>
                            <td>@order.BillingAddress_Province</td>
                            <td>@order.BillingAddress_ProvinceCode</td>
                            <td>@order.BillingAddress_Zip</td>
                            <td>@order.LineItem_Id</td>
                            <td>@order.LineItem_Title</td>
                            <td>@order.LineItem_Sku</td>
                            <td>@order.LineItem_VariantId</td>
                            <td>@order.LineItem_Quantity</td>
                            <td>@order.LineItem_Price</td>
                            <td>@order.LineItem_FulfillmentStatus</td>
                            <td>@order.LineItem_Vendor</td>
                            <td>@order.Discount_Code</td>
                            <td>@order.Discount_Type</td>
                            <td>@order.Discount_Value</td>
                            <td>@order.ShippingLine_Code</td>
                            <td>@order.ShippingLine_Price</td>
                            <td>@order.ShippingLine_Title</td>
                            <td>@order.Transaction_Id</td>
                            <td>@order.Transaction_Amount</td>
                            <td>@order.Transaction_Kind</td>
                            <td>@order.Transaction_Status</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="64">Loading...</td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
    </div>
</div>

@code {
    private string _search = "";
    private List<ShopifyOrder>? shopifyOrders;

    protected override async Task OnInitializedAsync()
    {
        shopifyOrders = await ShopifyOrderService.GetShopifyOrdersAsync();
    }
}